---
interface Props {
  title: string;
}

const { title } = Astro.props;
const fullTitle = `${title} | B. Barros`;
const description = "Transformando potências em líderes";
---

<title>{fullTitle}</title>
<link rel="icon" href="/favicon.ico" sizes="any" />
<meta name="description" content={description} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
